.carousel {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  width: 100%;
  height: 100vh;
  border: 1px solid blue;
  align-items: center;
  display: flex;
  position: relative;
}
.image-slide {
  border: 2px solid orange;
  min-width: 100%;
  height: 50%;
  position: relative;
  text-align: center;
}

.prev-image-btn {
  position: absolute;
  left: 0;
  margin: 0 0 5px 0;
  width: 5%;
  height: 50%;
  background: transparent;
  z-index: 1;
}

.next-image-btn {
  position: absolute;
  right: 0;
  margin: 0 0 5px 0;
  width: 5%;
  height: 50%;
  background: transparent;
  z-index: 1;
}
